@model RequestListVM

@{
    ViewData["Title"] = Model.Description;
}

<h2>@Model.Description</h2>
<br />

@if (!Model.ShowingAll)
{
    <div>
        <a asp-controller="Requests" asp-action="All" asp-route-env="@Model.Env" class="btn btn-info btn-sm">Show all</a>
    </div>
    <div class="row">
        <div class="col-md-4 vcenter">
            Total <b>@Model.Requests.TotalItemCount</b> items on <b>@Model.Requests.PageCount</b> pages.
        </div><div class="col-md-8 text-right vcenter">
            @Html.PagedListPager(Model.Requests, page => Url.Action("List", new { env = Model.Env, page = page, pageSize = Model.PageSize }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].WsClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].RequestType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Queue.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Input)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].Output)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requests[0].OutputDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr style="background-color:  @item.BackgroundColor;">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WsClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Queue.Status)
                </td>
                <td>
                    @item.InputShort(20)
                </td>
                <td>
                    @item.OutputShort(30)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutputDate)
                </td>
                <td>
                    <form asp-controller="Requests" asp-action="DetailsPartial"
                          data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#resultDiv">

                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="env" value="@Model.Env" />
                        <input type="submit" value="Details" class="btn btn-info btn-sm"
                               data-toggle="modal" data-target="#detailsModal" />

                    </form>

                    @*<a asp-controller="Requests" asp-action="Details" asp-route-id="@item.Id" asp-route-env="@Model.Env"
                           class="btn btn-info btn-sm">
                            Details
                        </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination -->
<div class="text-right">
    @Html.PagedListPager(Model.Requests, page => Url.Action("List", new { env = Model.Env, page = page, pageSize = Model.PageSize }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>


<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Request details</h4>
            </div>
            <div class="modal-body">

                <div id="resultDiv" style="word-wrap: break-word;"></div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
