@model FileLogVM

@{
    ViewData["Title"] = "Details";
}

<h2>Log details</h2>

<div>
    <h4>Environment: @Model.Env</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>
        <dd style="white-space: pre-wrap;">
            @Html.DisplayFor(model => model.FileContent)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="@Model.Env" class="btn btn-primary">Back to List</a>
</div>